{$REMOTE_PUBLIC_HOST} {
  @notEvents {
    not path /api/events
  }
  encode @notEvents zstd gzip

  handle /api/events {
    reverse_proxy 127.0.0.1:7861 {
      flush_interval -1
    }
  }

  handle {
    reverse_proxy 127.0.0.1:7861
  }

  request_body {
    max_size 1024MB
  }

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer
  }
}
